body {
    background-color: #FFFFFF;
}
h1 {
    font-family: 'Aldrich';
    font-size: 80px;
    color: #FF947E;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 156px;
    position: absolute;

}
h2 {
    font-family: 'Aldrich';
    font-size: 20px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    left: 50px;
    top: -3px;
    position: absolute;
}
h3 {
    font-family: 'Aldrich';
    font-size: 20px;
    color: #FF947E;
    font-style: normal;
    font-weight: normal;
    left: 150px;
    top: -7px;
    position: absolute;
}
p1 {
    font-family: 'Aldrich';
    font-size: 40px;
    color: #FFFFFF;
    position: absolute;
    width: 500px;
    top: 100px;
}
p2 {
    font-family: 'Aldrich';
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    top: 80px;
    left: 70px;
}
p3 {
    font-family: 'Aldrich';
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    top: 880px;
    left: 60px;
}
p4 {
    font-family: 'Aldrich';
    font-size: 20px;
    color: #FF947E;
    position: absolute;
    top: 925px;
    left: 60px;
}
p5 {
    font-family: 'Aldrich';
    font-size: 20px;
    color: #FF947E;
    position: absolute;
    top: 925px;
    left: 700px;
}
p6 {
    font-family: 'Aldrich';
    font-size: 20px;
    color: #FF947E;
    position: absolute;
    top: 925px;
    left: 1400px;
}
ul {
    font-family: 'Aldrich';
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    top: 110px;
    width: 400px;
}
div.a {
    position: absolute;
    width: 1920px;
    height: 50px;
    left: 0px;
    top:0px;

    background: #88EBC7
}
div.b {
    position: absolute;
    width: 700px;
    height: 300px;
    left: 50px;
    top: 100px;
}
div.c {
    position: absolute;
    width: 1350px;
    height: 350px;
    left: 0px;
    top: 410px;
    padding: 50px;

    background: #88EBC7;
}
div.d {
    position: absolute;
    width: 420px;
    height: 350px;
    left: 1400px;
    top: 410px;
    padding: 50px;

    background: #FF947E;
}
div.e {
    position: absolute;
    width: 175px;
    height: 22px;
    left: 60px;
    top: 880px;

    background: #FF947E;
}
@keyframes example {
    0%   {opacity: 100%;}
    20%  {opacity: 100%;}
    40%  {opacity: 100%;}
    60%  {opacity: 0%;}
    80%  {opacity: 0%;}
    100% {opacity: 0%;}
}
.newline {
    position: absolute;
    width: 100px;
    height: 0px;
    left: 520px;
    top: 215px;

    border: 4px solid #FF947E;
    transform: rotate(-90deg);

    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.smalldiv1 {
    position: absolute;
    width: 30px;
    height: 0px;
    left: 450px;
    top: 933px;

    border: 2px solid #88EBC7;
    transform: rotate(-90deg);
}
.smalldiv2 {
    position: absolute;
    width: 30px;
    height: 0px;
    left: 1200px;
    top: 933px;

    border: 2px solid #88EBC7;
    transform: rotate(-90deg);
}
.button1 {
    border: none;
    color: #FFFFFF;
    background-color: #88EBC7;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 2px 2px;
    cursor: pointer;
    font-family: 'Aldrich';
    position: absolute;
    width: 200px;
    height: 75px;
    left: 1300px;
    top: 200px;
}
.button1:hover {
    background-color: #6cbc9f 
}

.button1:active {
    background-color: #88EBC7;
}

a.nav-link:link
{
   color: #FF947E;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #FF947E;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #cc7664;
   text-decoration: none;
}
a.nav-link:active
{
   color: #FF947E;
   text-decoration: none;
}

a.social-link:link
{
   color: #FF947E;
   text-decoration: none;
}
a.social-link:visited
{
   color: #FF947E;
   text-decoration: none;
}
a.social-link:hover
{
   color: #cc7664;
   text-decoration: none;
}
a.social-link:active
{
   color: #FF947E;
   text-decoration: none;
}